parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportMaybesInMethodSignatures: false
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - %rootDir%/../../../tests/_temp/*
